@import "./styles/variables";

.table {
  color: $white;
  border-spacing: 0;
  border: 1px solid $darkGray;
  margin: 48px auto;
  border-radius: 12px;
  overflow: hidden;
  width: 60%;

  .head {
    text-align: left;
    tr {
      background-color: $lightBlack;
    }
    th {
      padding: 18px 48px;
      color: $gray;
      width: 50%;
    }
  }
  .body {
    tr:nth-child(even) {
      background-color: $lightBlack;
    }
    td {
      padding: 24px 48px;
      width: 50%;
      .tokenItem {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        align-items: center;
        .symbol {
          font-size: 14px;
          margin-left: 4px;
          color: $gray;
        }
        .tokenName {
          margin: 0px 6px 0px 8px;
        }
      }
    }
    .tokenPriceSame {
      color: $white;
    }
    .tokenPriceIncrease {
      color: $green;
    }
    .tokenPriceDecrease {
      color: $red;
    }
  }
}
